{{ partial "header" . }}

<main>

    <div class="intro">

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ .Site.Params.Description }}</h2>
    </div>
    <div>
      {{ if .Site.Params.sponsors }}
        {{ range sort .Site.Params.sponsors }}
          {{ if eq .level "host" }}
            <h3>Conference Host:</h3>
            <a href=" {{ .url }}"><img src="{{ .logo }}" style="width:{{ .width }}px; padding: 10px;"></img></a>
          {{ end }}
        {{ end }}
        <h3>Conference Sponsors:</h3>
        {{ range sort .Site.Params.sponsors }}
          {{ if ne .level "host" }}
            <a href=" {{ .url }}"><img src="{{ .logo }}" style="width:{{ .width }}px; padding: 10px;"></img></a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

</main>

{{ partial "footer" . }}
